
<div class="userInfo" style="display:none;">
    <p>Имя: <span class="fullName"></span></p>
    <p>PW: <span class="pwCoins"></span></p>
    <input type="button" value="Выйти" id="logOut" />
</div>

<div class="loginForm">
    <h3>Вход на сайт</h3>
    <label>Введите email</label><br />
    <input type="email" id="emailLogin" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="passwordLogin" /><br /><br />
    <input type="submit" id="submitLogin" value="Логин" />
</div>

<div class="transactionPost" style="display:none;">
    <h3>Новая транзакция</h3>
    <label>Введите имя получателя</label><br />
    <input type="text" id="recipientName" list="recipientNames" /> <br /><br />

    <datalist id="recipientNames">
        <option value="Test">
        <option value="Test2">
    </datalist>
    <label>Введите количество PW</label><br />
    <input type="number" min="0" value="0" id="pwAmount" /><br /><br />
    <input type="submit" id="submitTransaction" value="Подтвердить отправку PW" />
</div>

<div class="transactionsList" style="display:none;">
    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Recipient</th>
            <th>Amount</th>
        </tr>
    </table>
</div>

<div>
    <label>Введите email</label><br />
    <input type="email" id="email" /> <br /><br />
    <label>Введите полное имя</label><br />
    <input type="text" id="fullName" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="password" /><br /><br />
    <label>Подтвердите пароль</label><br />
    <input type="password" id="confirmpassword" /><br /><br />
    <input type="submit" id="submit" value="Регистрация" />
</div>
@section scripts{
    <script type="text/javascript">
        "use strict";
        $(function () {

            $('#recipientName').change(function () {

                $('#recipientNames').empty();

                $.ajax({
                    type: 'GET',
                    url: '/api/Account/Users?fullName=' + ($('#recipientName').val()),
                    beforeSend: function (xhr) {

                        var token = localStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + tokenKey);
                    }
                }).success(function (data) {

                    for (var i = 0; i < data.TotalItemsCount; i++) {

                        $('#recipientNames').append("<option value='" + data.Items[i].FullName + "'>");
                    }


                }).fail(function (data) {
                    alert(data.responseText);
                });


            });

            $('#submit').click(function (e) {
                e.preventDefault();
                var data = {
                    Fullname: $('#fullName').val(),
                    Email: $('#email').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function (data) {
                    alert("Вы успешно зарегистрировались.");
                }).fail(function (data) {

                    alert(data.Text);//TODO: Not full json, use response
                });
            });

            //...........................

            var tokenKey = "accessToken";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).success(function (data) {
                    // сохраняем в хранилище localStorage токен доступа
                    
                    localStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                }).fail(function (data) {
                    alert('При логине возникла ошибка');
                });


                $.ajax({
                    type: 'GET',
                    url: '/api/Account/CurrentUser',
                    beforeSend: function (xhr) {

                        var token = localStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
                }).success(function (data) {
                    $('.fullName').text(data.FullName);
                    $('.pwCoins').text(data.PwCoins);
                    $('.transactionPost').css('display', 'block');
                    $('.userInfo').css('display', 'block');
                    $('.transactionsList').css('display', 'block');
                    $('.loginForm').css('display', 'none');
                }).fail(function (data) {
                    alert(data.responseText);
                });
            });


            $('#logOut').click(function (e) {
                e.preventDefault();
                localStorage.removeItem(tokenKey);
                $('.loginForm').css('display', 'block');
                $('.userInfo').css('display', 'none');
                $('.transactionPost').css('display', 'none');
                $('.transactionsList').css('display', 'none');
            });

            
            $('#submitTransaction').click(function (e) {
                e.preventDefault();
                var transactionData = {
                    pwAmount: $('#pwAmount').val(),
                    recipientName: $('#recipientName').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Transaction',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(transactionData),
                    beforeSend: function (xhr) {

                        var token = localStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
                }).success(function (data) {
                    alert("Перевод прошел успешно.");
                    $("#pwAmount").val("0");
                    $("#recipientName").val("");
                }).fail(function (data) {
                    alert(data.responseText);
                });



                $.ajax({
                    type: 'GET',
                    url: '/api/Account/CurrentUser',
                    beforeSend: function (xhr) {

                        var token = localStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
                }).success(function (data) {
                    $('.fullName').text(data.FullName);
                    $('.pwCoins').text(data.PwCoins);
                    $('.transactionPost').css('display', 'block');
                    $('.userInfo').css('display', 'block');
                    $('.loginForm').css('display', 'none');
                }).fail(function (data) {
                    alert(data.responseText);
                });

            });
        })
    </script>
}